*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #e8732a;
    color: white;
    font-size: 15px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1000;
    box-shadow: 0px 0px 8px #888888;
}


#main-nav{
    min-height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 30%;
    margin-left: 20%;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-basis: 150px;
    
}

#logo{
    display: flex;
}

#logos{
    width: 90px;
    height: 27px;
}
main{
    margin-top: 130px;
}

.row{
    display:flex;
    row-gap: 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
}


article img{
    max-width: 80%;
    width: 450px;
}


.label.red{
    background-color: red;
    left: 0;
}

.product-col{
    margin-bottom: 50px;
    position: relative;
}

.label{
    left: 50px;
    padding: 5px;
    background-color: green;
    position: absolute;
    bottom: 90px;
    color: white;
    
}

.text1{
    font-size: 13px;
    font-weight: 400;
}

.text2{
    font-weight: 600;
}

.price{
    color: red;
    font-size: 14px;
    font-weight: 700;
}


footer{
    padding-top: 50px;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #23272a;
    color: white;
}

.foo{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 110px;
    box-sizing: border-box;

}

#titlef{
    
}


#c{
    list-style-type:none;
    line-height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-basis: 100px;
}
